<div class="login_page">
  <div class="login_container">
    
    <!-- Left Section -->
    <div class="login_left">
      <div class="login_content">
        <h2>Hello, <span>welcome!</span></h2>
         <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="mb-3">
            <input formControlName="username" type="text" placeholder="Enter Username">
          </div>
          <div class="mb-3">
            <input formControlName="password" type="password" placeholder="Enter Password">
          </div>
          <div class="d-grid">
            <button type="submit" [disabled]="form.invalid" class="login_btn">Login</button>
          </div>
        </form>
        <div>
            <br>
            <br>
            <br>
        </div>
      </div>
    </div>

    <!-- Right Section -->
    <div class="login_right ">
        <h2 class="text-white typing-text ">Welcome to Vehicle Portal..</h2>
    </div>
       
    </div>
   
</div>
