<div class="login_main">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="login_div border p-4 rounded shadow" style="width: 100%; max-width: 400px;">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="mb-3">
            <input formControlName="username" type="text" class="form-control" placeholder="Enter Username">
          </div>
      
          <div class="mb-3">
            <input formControlName="password" type="password" class="form-control" placeholder="Enter Password">
          </div>
      
          <div class="d-grid">
            <button type="submit" class="btn btn-primary" >Login</button>
          </div>
      
         </form>
      
        </div>
      </div>
    </div>