<div class="main">
<div class="container-fluid  border bg1">
    <span class="d-inline-block me-4">info&#64;sathyatech.com</span>
    <span class="d-inline-block me-4">+91 9100920092,</span>
    <span class="d-inline-block">+91 9100940094</span>
  </div>
  <div>
    <nav class="container-fluid p-4 bg5 navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="" >Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ALL COURSES
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item">Java Full Stack</a></li>
                <li><a class="dropdown-item">.NET Full Stack</a></li>
                <li><a class="dropdown-item">Python Full Stack</a></li>
                <li><a class="dropdown-item">Data Science With Generative AI</a></li>
                <li><a class="dropdown-item">Data Analytics Course</a></li>
                <li><a class="dropdown-item">Devops With Multi Cloud</a></li>
                <li><a class="dropdown-item">Automation Testing Course</a></li>
                <li><a class="dropdown-item">Manual Testing Courses</a></li>
                <li><a class="dropdown-item">Amazon web Course</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/upcomingbatch">UPCOMING BATCHES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/trainer">TRAINER REGISTRATION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contactus">CONTACT US</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- <div class="container-fluid p-5 my-1 text-white bg2">
    <h1>My First Bootstrap Page</h1>
    <p>This container has a dark background color and a white text, and some extra padding and margins.</p>
  </div>
  
  <div class="container-fluid p-5 my-1 text-white bg3">
    <h1>My First Bootstrap Page</h1>
    <p>This container has a blue background color and a white text, and some extra padding and margins.</p>
  </div> -->
  <!-- This part changes based on route -->
  <router-outlet></router-outlet>
  <div class="container-fluid p-5 my-1 text-white bg4">
    <h1>My First Bootstrap Page</h1>
    <p>This container has a blue background color and a white text, and some extra padding and margins.</p>
  </div>


</div>