<h2>Employee List</h2>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>City</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of User">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address?.city }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.website }}</td>
      <td>{{ user.company?.name }}</td>
    </tr>
  </tbody>
</table>

<br>
<br>
<button (click)="clickEvent($event)">click event</button>

<br>
<br>

<div (mouseenter)="clickEvent($event)"  
style="background-color: green; width: 100px; height: 100px;" >

</div>
<br>
<br>

<div (mouseleave)="clickEvent($event)"  
style="background-color: blue; width: 100px; height: 100px;" >

</div>

<br>
<br>
<input
  type="text"
  (input)="inputEvent($event)"
  name="user"
  placeholder="Type something..." />


  <br>
  <br>
  <h3>input filed : {{displayname}}</h3>   
  <input type="text" value="{{vari}}" (input)="getVariable($event)" name="variabel">
  <button (click)="getvalueb()">Get Value</button>
  <button (click)="setName()">set value</button>
  <hr>
  <!-- <input type="email" value="{{mail}}" placeholder="enter mail" #emailfield> -->
  <input type="email"  placeholder="enter mail" #emailfiled [value]="mail">
  <button (click)="getEmail(emailfiled.value)">get Mail</button>
  <button (click)="setMail()"> set Mail</button>
  <h2>Mail: {{ mail }}</h2>
